.welcome-section {
    display: flex;
    flex-direction: column;

    height: ~"calc(100vh - 9rem)";
    max-height: 100rem;

    background-color: @colors[secondary];

    padding: 9rem 3rem;

    @media (max-width: #pxToEm(572)[]) {
        height: auto;
        max-height: none;
    }

    &__content {
        width: 100%;
        max-width: @grid-width;
        margin: 0 auto;

        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__links {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 3rem;
        align-content: center;

        @media (max-width: #pxToEm(730)[]) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: #pxToEm(455)[]) {
            grid-template-columns: 1fr;
        }
    }

    &__link {
        &:link, &:visited {
            background-color: @colors[primary];
    
            font-size: 2.5rem;
            
            color: @colors[white];
            text-decoration: none;
            border-radius: .5rem;
    
            padding: 2rem;
    
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        &:hover {
            background-color: darken(@colors[primary], 8%);
        }

        &:active {
            background-color: darken(@colors[primary], 15%);
            color: darken(@colors[white], 5%);
        }
    }
}

.section {
    padding: 9rem 3rem;

    #respond-tab-port({
        padding: 6rem 3rem;
    });

    &__content {
        width: 100%;
        max-width: @grid-width;
        margin: 0 auto;
    }

    &--white-bg {
        background-color: @colors[white];
    }
    &--grey-bg {
        background-color: @colors[grey];
    }
}