.page {
    max-width: @max-page-width;
    margin: 0 auto;

    @media (min-width: #pxToEm(1560)[]) {
        margin: 3rem auto;
    }
    @media (min-width: #pxToEm(1580)[]) {
        margin: 4rem auto;
    }
    @media (min-width: #pxToEm(1610)[]) {
        margin: 5rem auto;
    }
}